<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Normal Example: "%r [%t] %-5p %c %x - %m%n" -->
			<!-- Slower Example: "[%p] %d{MM/dd HH:mm:ss.SSS} %t [%C-%M] %m%n" -->
			<param name="ConversionPattern" value="[%p] %d{MM/dd HH:mm:ss.SSS} %t [%C-%M] %m%n"/>
		</layout>
	</appender>

	<appender name="console_simple" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%r %-5p %m%n"/>
		</layout>
	</appender>

	<logger name="org.tsaikd.java" additivity="false">
		<level value="debug"/>
		<appender-ref ref="console"/>
	</logger>

	<logger name="org.apache.solr.client.solrj.impl.HttpClientUtil" additivity="false">
		<level value="warn"/>
		<appender-ref ref="console"/>
	</logger>

	<root>
		<priority value ="info"/>
		<appender-ref ref="console"/>
	</root>

</log4j:configuration>
